body {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .BlogCard {
    display: flex;
    width: 37%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 15rem;
    border-radius: 15px;
    box-shadow: -1px 12px 40px -8px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
  }
  #image > img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #image {
    margin-top: 1.5rem;
    margin-left: -5rem;
    width: 14rem;
    height: 80%;
    background: linear-gradient(
      90deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 10px rgba(220, 214, 214, 0.9);
  }
  #BlogHead {
    width: 19rem;
    height: 3rem;
    transform: translate(1rem, 1rem);
    box-sizing: border-box;
  }

  #BlogHead > h3 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #BlogPara {
    width: 65%;
    transform: translate(10rem, -10rem);
    box-sizing: border-box;
  }
  #BlogPara > p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Blogfooter {
    width: 65%;
    height: 45px;
    transform: translate(10rem, -10rem);
    display: flex;
  }
  .profile {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
    transform: translate(1rem, 0.2rem);
    background-color: aliceblue;
  }
  .profileName {
    width: 5rem;
    transform: translate(1.5rem, 1rem);
    font-size: smaller;
    position: absolute;
    top: 0em;
    left: 2.5em;
  }
  .profileName a {
    color: black;
    text-decoration: none;
  }
  .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -1px 12px 40px -8px rgba(0, 0, 0, 0.9);
  }
  .BlogBtn {
    width: 6rem;
    height: 2rem;
    box-sizing: border-box;
    position: absolute;
    left: 6em;
  }
  .BlogBtn button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: aliceblue;
    transform: translate(4rem, 0.4rem);
    box-shadow: -1px 12px 40px -8px rgba(0, 0, 0, 0.9);
  }
  .BlogBtn a {
    color: black;
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  .BlogCard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto auto 1em auto;
    height: 10em;
    border-radius: 15px;
    box-shadow: -1px 12px 40px -8px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
  }
  #image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
  }
  #image {
    width: 9em;
    height: 100%;
    box-sizing: border-box;
  }
  #BlogHead {
    width: 13em;
  }

  #BlogHead > h3 {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #BlogPara {
    width: 15em;
    height: 5em;
    box-sizing: border-box;
    position: relative;
    left: 9em;
    bottom: 8.5em;
  }
  #BlogPara > p {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -1em;
  }
  .Blogfooter {
    width: 65%;
    height: 45px;
    display: flex;
    position: relative;
    top: -8.5em;
    left: 5em;
  }
  .ProfileWrap {
    display: flex;
    position: relative;
    left: 4.5em;
  }
  .profile {
    border: none;
    width: 2.5em;
    height: 2.5em;
    border: radius 1.25em;
    box-sizing: border-box;
  }
  .profileName {
    width: 5rem;
    height: 1.8em;
    font-size: smaller;
    position: relative;
    top: 1.9em;
  }
  .profileName a {
    font-size: 0.9em;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    position: absolute;
    top: 0.15em;
  }
  .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    left: -0.4em;
    top: 0.9em;
  }
  .BlogBtn {
    width: 6em;
    height: 1.9em;
    box-sizing: border-box;
    position: relative;
    top: 0.8em;
    right: -1em;
  }
  .BlogBtn button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: aliceblue;
    transform: translate(4rem, 0.4rem);
    box-shadow: -1px 12px 40px -8px rgba(0, 0, 0, 0.9);
  }
  .BlogBtn a {
    font-size: 0.9em;
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }
}
